
/*--------------*\
 #GRID CONTAINER
\*--------------*/

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'left middle middle right'
    'footer footer footer footer';  
  grid-template-columns: 24% 25% 25% 24%;
  grid-template-rows: 5rem 28.57rem 5rem;
  height: 100vh;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  
}





/*--------------*\
 #HEADER
\*--------------*/

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn__login, .btn__sign-up {
  margin: 10px;
}

.search-container {
  margin-right: 10px;
}

.item-3 {
  height: 3.571rem;
  flex-grow: 1;
}
  





/*--------------*\
 #LEFT SIDEBAR
\*--------------*/

.left-sidebar {
  grid-area: left;
}





/*--------------*\
 #TABLES
\*--------------*/

.pricing-tables {
  grid-area: middle;
  display: flex;
  align-items: center;
  justify-content: space-around;
}





/*--------------*\
 #RIGHT SIDEBAR
\*--------------*/

.right-sidebar {
  grid-area: right;
}

  .btn-container {
    display: flex;
    justify-content: space-around;
  }





/*--------------*\
 #FOOTER
\*--------------*/

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}





/*---------------------------*\
 #OPTIONS FOR MOBILE DEVICES
\*---------------------------*/

@media (max-width: 1100px) {
  .grid-container {
    grid-template-areas:
      'header'
      'left'
      'middle'
      'right'
      'footer';
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
  }
  
  .left-sidebar {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-flow: column wrap;
  }
  
}